
<head>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <!--<link rel="stylesheet" href="/css/menubar.css">-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dekh Bhai Dekh  </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Genre</a></li>
                <li><a href="#">History</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genre <div class="caret"></div></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/genre/action" ng-click="logdata('action')">Action</a></li>
                        <li><a href="#/genre/romance" ng-click="logdata('romance')">Romance</a></li>
                        <li><a href="#/genre/scifi" ng-click="logdata('sci-fi')">Sci-Fi</a></li>
                        <li><a href="#/genre/horror" ng-click="logdata('horror')">Horror</a></li>
                        <li><a href="#/genre/comedy" ng-click="logdata('comedy')">Comedy</a></li>
                        <li><a href="#/genre/crime" ng-click="logdata('crime')">Crime</a></li>
                        <li><a href="#/genre/drama" ng-click="logdata('drama')">Drama</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn-info">Search</button>
            </form>
            <div class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Settings <div class="caret"></div></a>
                    <ul class="dropdown-menu">
                        <h3 class="dropdown-header"> <span class="glyphicon glyphicon-user"></span><font size="4">Hi {{vm.user.firstName}}</font></h3>
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <li role="separator" class="divider"></li>
                        <li><a class="logout" ng-click="go('/login')"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                    </ul>
                </li>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="movie_description">
    <div class="imageshow">

        <!--<iframe id="video1"
                width="500" height="280"
                src="/videos/1.mp4">
        </iframe>-->

        <!--<img
                ng-src="{{vm.imgToShow}}"
                width="700"
                height="450"
        />-->
        <h2>Romance</h2>

    </div>
    <!--<div class="movie_details">
        <h3> Movie Name:</h3>

    </div>-->

    <!--<h2>{{vm.imgName}}</h2>-->
</div>

</body>