



<body>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
         <h1><strong>Login &amp; Register Form</strong></h1>
        <div class="description">
            <!--<p>
                This is a free responsive <strong>"login and register forms"</strong> template made with Bootstrap.
                Download it on <a href="http://azmind.com" target="_blank"><strong>AZMIND</strong></a>,
                customize and use it as you like!
            </p>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">

        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Sign up now</h3>
                    <p>Fill in the form below to get instant access:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" ng-submit="vm.register()" class="registration-form">

                    <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                        <label class="fields" for="username">First name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
                        <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                        <label class="fields" for="username">Last name</label>
                        <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
                        <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label class="fields" for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label class="fields" for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>

                    <div class="form-group">
                        <h4>Email  <i class="fa fa-envelope" aria-hidden="true"></i></h4>
                        <label for="form-email" class="sr-only">Email</label>
                        <input class="form-email form-control" type="email" placeholder="you@mail.com" id="form-email">
                    </div>

                    <div class="form-group">
                        <h4>Birthday!   <i class="fa fa-birthday-cake" aria-hidden="true" ></i></h4>
                        <label for="form-date" class="sr-only">Date</label>
                        <input class="form-date form-control" type="date" placeholder="dd/mm/yyyy" id="form-date">
                    </div>


                    <div class="form-group">

                        <h4>Genre! <i class="fa fa-music" aria-hidden="true"></i></h4>
                        <div class="col-md-4">

                            <input type="checkbox" id='Action'>  <label for="Action">Action</label><br>
                            <input type="checkbox" id='Romance'>  <label for="Romance">Romance</label><br>
                            <input type="checkbox" id='Drama'>  <label for="Drama">Drama</label>
                        </div>

                        <div class="col-md-4">
                            <input type="checkbox" id='Horror'>  <label for="Horror">Horror</label><br>
                            <input type="checkbox" id='Comedy'>  <label for="Comedy">Comedy</label><br>
                            <input type="checkbox" id='Sci-Fi'>  <label for="Sci-Fi">Sci-Fi</label>
                        </div>

                    </div>


                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn">Sign me up!</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a href="#/login" class="btn btn-link">Cancel</a>


                    <a class="btn btn-link-2" href="#">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a class="btn btn-link-2" href="#">
                        <i class="fa fa-google-plus"></i> Google Plus
                    </a>
                </form>
            </div>
        </div>

    </div>

    <div class="col-sm-1 middle-border"></div>
    <div class="col-sm-1"></div>

    <div class="col-sm-5">

        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Login to our site</h3>
                    <p>Enter username and password to log on:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" ng-submit="vm.login()" class="login-form">
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label class="fields" for="username">Username</label>
                        <input type="text" name="username" id="username1" class="form-control" ng-model="vm.username" required />
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label class="fields" for="password">Password</label>
                        <input type="password" name="password" id="password1" class="form-control" ng-model="vm.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn ">Login</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <!--<a href="#/register" class="btn btn-link">Register</a>-->
                    </div>
                </form>
            </div>
        </div>
    </div>


    </div>

</div>

        <script src="/js/jquery.backstretch.min.js"></script>
        <script src="/js/background.js"></script>

</body>
