<!--  -->
<head>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <!--<link rel="stylesheet" href="/css/menubar.css">-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dekh Bhai Dekh  </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Genre</a></li>
                <li><a href="#">History</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genre <div class="caret"></div></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="vm.logdata('Action')">Action</a></li>
                        <li><a ng-click="vm.logdata('Romance')">Romance</a></li>
                        <li><a ng-click="vm.logdata('Sci-fi')">Sci-Fi</a></li>
                        <li><a ng-click="vm.logdata('Horror')">Horror</a></li>
                        <li><a ng-click="vm.logdata('Comedy')">Comedy</a></li>
                        <!--<li><a href="#" ng-click="logdata('Crime')">Crime</a></li>-->
                        <li><a ng-click="logdata('Drama')">Drama</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" ng-submit="vm.searchMovie()" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchKeyword" >
                </div>
                <button type="submit"  class="btn-info">Search</button>
            </form>
            <div class="nav navbar-nav navbar-right">
                <li><a href="#">{{vm.userdata.firstname}} {{vm.userdata.lastname}}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Settings <div class="caret"></div></a>
                    <ul class="dropdown-menu">
                        <h3 class="dropdown-header"> <span class="glyphicon glyphicon-user"></span><font size="4">Hi {{vm.userdata.firstname}}</font></h3>
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <li role="separator" class="divider"></li>
                        <li><a class="logout" ng-click="go('/login')"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                    </ul>
                </li>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="movie_description" ng-show="vm.movie">
    <div class="vidshow col-md-6 col-xs-12">

        <video id="myVideo" width="500" height="400" value="true" ng-click="vm.videoPlay()">
            <source ng-src="{{vm.videoSrc}}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

    </div>

</div>

<div class="movie_details col-md-6 col-xs-12" ng-show="vm.movie">
    <div class="Movies"><h3> Movie : {{vm.movie.movies[0].mv[0]._source.title}} </h3></div>
    <div class="Year"><h4> Year : {{vm.movie.movies[0].mv[0]._source.release_year}} </h4></div>
    <div class="Genre"><h4> Genre : {{vm.movie.movies[0].mv[0]._source.genres}} </h4></div>
    <div class="Rating" ><h4> Rating : {{vm.movie.movies[0].mv[0]._source.rating}} </h4></div>
    <div><h4>Cast : </h4></div>
    <div class="Cast" ng-repeat="actor in vm.movie.movies[0].mv[0]._source.actors"><h4> {{actor}}</h4></div>
    <div><h4>Director :</h4></div>
    <div class="Director" ng-repeat="director in vm.movie.movies[0].mv[0]._source.directors"><h4>{{director}}</h4></div>
    <div class="Description" ><h4> Description : </h4>
        <p>{{vm.movie.movies[0].mv[0]._source.synopsis}}</p>
    </div>
</div>

<!--<h2>{{vm.imgName}}</h2>-->
</div>
<!--
<div ng-repeat="img in vm.imgSrc">
    <img ng-src="{{img}}"/>
    <h2>{{img}}</h2>
    <img src="https://lh4.googleusercontent.com/FfwSL3RI_wkhwxRn6uiQMhdxDirNeJL0lDxJJ3IiEuL8ponN7BMZRlaXUFyvRaBkZ8Oy31MMwWMgjOM=w1440-h826"/>
    &lt;!&ndash;<img ng-src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg"/>&ndash;&gt;

</div>-->
<!--<div class = "recommend col-md-6 col-xs-12">
    <h3> Recommended for you! </h3>
    &lt;!&ndash;<hr width="500">&ndash;&gt;
</div>-->

<div class="contain" ng-show="vm.movie">


    <div class="row">

        <div class="row__inner" >

            <div class="tile" ng-repeat="myimage in vm.myimg">
                <div class="tile__media" >
                    <img class="tile__img" ng-src="{{myimage.imgSrc}}"  ng-click="vm.imgClick(myimage)"/>

                    <!--<h2 ng-show="ng-click">{{myimage}}</h2>-->
                </div>
                <div class="tile__details"  ng-click="vm.imgClick(myimage)">
                    <!--<div class="tile__title">-->
                    <!--{{myimage.title}}-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- MDL Spinner Component -->
<div  ng-hide="vm.movie" class="centered1">

    <img src="/img/reload.gif">
    <h4>Fetching Data.... </h4>
</div>

<script>
    document.getElementById('myVideo').addEventListener('loadedmetadata', function() {
        this.currentTime = 0.5;
    }, false);

</script>

</body>